{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

    <div class="card"> 
        <div class="card-header">
				Tu Perfil
		</div>
			<div class="card-body">
				<div class="row no-gutters">
					<div class="col-md-5">
						<p class="card-text">
							<small>Nombre:</small><br/>
							{{staff.nombre}}
						</p>
						<p class="card-text">
							<small>Correo electrónico:</small><br/>
							{{email}}
						</p>
						<p class="card-text">
							<small>Telefono de contacto:</small><br/>
							{{staff.telefono}}
						</p>
					</div>

					<div class="col-md-5">
						<p class="card-text">
							<small>Apellido:</small><br/>
							{{staff.apellido}}
						</p>
					</div>
				</div>
			</div>
		</div>
        <div class="bottom-buttons">
            <p class="form-error-text">
                <a href="{{ path('editarStaff', {userId: app.user.id}) }}" class="btn btn-outline-secondary">EDITAR PERFIL</a>
                <button class="btn btn-outline-info" onclick="window.history.back()">VOLVER ATRAS</button>
            </p>
        </div>
    </div>
</div>

{% endblock %}