{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

    <div class="card"> 
        <div class="card-header">
				Tu Perfil
		</div>
			<div class="card-body">
				<div class="row no-gutters">
					<div class="col-md-5">
						<p class="card-text">
							<small>Nombre:</small><br/>
							{{jugador.nombre}}
						</p>
						<p class="card-text">
							<small>Correo electrónico:</small><br/>
							{{email}}
						</p>
						<p class="card-text">
							<small>Telefono de contacto:</small><br/>
							{{jugador.telefono}}
						</p>
					</div>

					<div class="col-md-5">
						<p class="card-text">
							<small>Apellido:</small><br/>
							{{jugador.apellido}}
						</p>
						<p class="card-text">
							<small>Año de Nacimiento:</small><br/>
							{{jugador.anoNacimiento}}
                        </p>
                        <p class="card-text">
                            <small>Altura:</small><br/>
                            {{jugador.altura}} cm
                        </p>
					</div>
                    
                    <div class="col-md-5">
						<p class="card-text">
							<small>Capitan:</small><br/>
                            {% if jugador.capitan %}
							    SI
                            {% else %}
                                NO
                            {% endif %}
						</p>
						<p class="card-text">
							<small>Lesionado:</small><br/>
                            {% if jugador.lesionado %}
							    SI
                            {% else %}
                                NO
                            {% endif %}
						</p>
						<p class="card-text">
							<small>Eres Chutador:</small><br/>
							{% if jugador.esChutador %}
							    SI
                            {% else %}
                                NO
                            {% endif %}
						</p>
                    </div>
                    
                    <div class="col-md-5">
						<p class="card-text">
							<small>Peso:</small><br/>
							{{jugador.peso}} Kg
						</p>
						<p class="card-text">
							<small>Tarjeta(s) Amarilla(s):</small><br/>
							{{jugador.tarjetaAmarilla}}
						</p>
						<p class="card-text">
							<small>Tarjeta(s) Rojas(s):</small><br/>
							{{jugador.tarjetaRoja}}
						</p>
					</div>

                    <div class="col-md-5">
						<p class="card-text">
							<small>Ensayo(s):</small><br/>
							{{jugador.ensayo}} 
						</p>
						<p class="card-text">
							<small>Minutos Jugados:</small><br/>
							{{jugador.minutosJugados}} minutos
						</p>
						<p class="card-text">
							<small>Posición:</small><br/>
							{{jugador.posicion}}
						</p>
					</div>

                    {% if jugador.posicion <= '8' or jugador.posicion == 'Segunda' or jugador.posicion == 'Flanker' %}
                        <div class="col-md-5">
                            <p class="card-text">
                                <small>Placajes Totales:</small><br/>
                                {{jugador.placajesTotal}}
                            </p>
                            <p class="card-text">
                                <small>Placajes Completados:</small><br/>
                                {{jugador.placajesDone}}
                            </p>
                            <p class="card-text">
                                <small>Touch Totales:</small><br/>
                                {{jugador.touchTotal}}
                            </p>
                        </div>

                        <div class="col-md-5">
                            <p class="card-text">
                                <small>Touch Ganadas:</small><br/>
                                {{jugador.touchDone}}
                            </p>
                            <p class="card-text">
                                <small>Melee Totales:</small><br/>
                                {{jugador.meleeTotal}}
                            </p>
                            <p class="card-text">
                                <small>Melee Ganadas:</small><br/>
                                {{jugador.meleeDone}}
                            </p>
                        </div>
                    
                    {% else %}
                        <div class="col-md-5">
                            <p class="card-text">
                                <small>Chutes a Palos Totales:</small><br/>
                                {{jugador.chutePalosTotal}}
                            </p>
                            <p class="card-text">
                                <small>Chutes a Palos Dentro:</small><br/>
                                {{jugador.chutePalosDone}}
                            </p>
                        </div>
                    {% endif %}

				</div>
			</div>
		</div>
        <div class="bottom-buttons">
            <p class="form-error-text">
                <a href="{{ path('editarJugador', {userId: app.user.id}) }}" class="btn btn-outline-secondary">EDITAR PERFIL</a>
                <button class="btn btn-outline-info" onclick="window.history.back()">VOLVER ATRAS</button>
            </p>
        </div>
    </div>
</div>

{% endblock %}